@charset "UTF-8"; 

body {
  background-color: gray;
  margin: 0%;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
  border: 30px solid rgba(124, 144, 222, 0.632);
  padding: 30px;
}
 
header   {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: black;
  color: white;
  border-radius: 50px;
}
 
main{
  padding: 40px;
  height : 400px;
}
 
.circle img {
  border-radius: 50%;
  width: 300px;
  margin: auto;
  display: block;
}

footer   {
  padding: 40px;
  height: 40px;
  background-color : rgb(0, 0, 0);
  color: white;
  border-radius: 50px;
}
